.onemain{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 100px;
}
.oneleft{
width: 50%;
display: flex;
flex-direction: column;
gap: 30px;
}

.onehearding{
font-size: 45px;
font-weight: 700;
word-spacing: 3px;
-webkit-text-stroke:2px #636ae8;
color: transparent;
/* background: linear-gradient(180deg, #636AE8FF 0%, #64BAE8FF 100%);
-webkit-background-clip: text; */
}
.oneparagraph{
    font-size: 16px;
    font-weight: 500;
   color: #333333;
}
.oneleft div:nth-of-type(3){
    display: flex;
    align-items: center;
    gap: 10px;
color: #333333;

}

.oneleft div:nth-of-type(3) div{
padding: 7px 15px;
border:1px solid #636ae8;
border-radius: 8px;
cursor: pointer;
font-size: 15px;
font-weight: 500;
}
.oneleft div:nth-of-type(3) div:hover{
    background-color: #636ae8;
    transition: 1s;
    color: white;
}

.oneright{
width: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.oneright img{
   width: 90%;
}